<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcj.vue.mapper.UserMapper">
    <insert id="insertuser">
        insert into student values (#{user.id})
    </insert>
    <select id="getuser" resultType="com.zcj.vue.entity.user">
                select id from student
    </select>


</mapper>
